[submodule "addons/gdUnit4"]
path = addons/gdUnit4
url = git@github.com:coffeebeats/gdUnit4.git
branch = godot-v4.6

[submodule "addons/gut"]
path = addons/gut
url = git@github.com:coffeebeats/gut.git
branch = godot-v4.5

[submodule "addons/godotsteam"]
path = addons/godotsteam
url = git@github.com:coffeebeats/GodotSteam.git
branch = godot-v4.5
