[submodule "addons/gut"]
path = addons/gut
url = https://github.com/coffeebeats/gut
branch = dist

[submodule "addons/godotsteam"]
path = addons/godotsteam
url = https://github.com/coffeebeats/GodotSteam
branch = dist
shallow = true
